html,
body {
  margin: 0;
  padding: 0;
  position: relative;
  background-color: black;
  z-index: -20;
}

* {
  font-family: "Lato", sans-serif;
}
.app_content {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
}
.main_bg_photo {
  position: absolute;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
  object-fit: cover;
  }
.unActive {
  background-image: none;
}
.unActive_img {
  display: none;
}
.singlep__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  object-fit: cover;

}
.image_shadow_box {
  position: relative;
}
.shadow_bg {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 800px;
  left: 0;
  right: 0;
  z-index: -1;
  box-shadow: 0px -100px 150px 162px #000;
}

.active_main {
  display: block;
}
.unActive_main {
  display: none;
}